
<!-- <% //days.forEach(function(d){ %> -->
    <p>
        <%= d.date.toDateString() %>
        <%= d.BP.Systole%>
        <%= d.BP.Diastole%>
        <%= d.BP.Pulse%>
        <%= d.o2%>
        <%= d.glucose%>
        <%= d.temp%>
        <%= d.sleep%>
    </p>
<!-- <% //}) %> -->