<%- include("partials/header") %>

<div class="ui teal huge message">User Details:</div>

    <p>Name: <%=det.owner.username%></p>
    <p>Age: <%=det.age%></p>
    <p>Blood Group: <%=det.bloodtype%></p>
    <% if(det.diabetic == false){ %> 
    <p>Diabetic: NO</p>
    <%}else{%>
        <p>Diabetic: YES</p>
    <%}%>
    <p>Medical History: <%= det.meddis%></p>
    <p>Height(in meters): <%= det.height%></p>
    <p>Weight(in kgs): <%= det.weight%></p>
    <p>
        BMI(Body Mass Index): <%= det.BMI%>
        <% if(det.BMI<="18.5"){ %>
            <a class="ui red button">Underweight</a>
        <%} else if(det.BMI>"18.5" && det.BMI<="25"){ %>
            <a class="ui green button">Normal Weight</a>
        <%} else if(det.BMI>"25" && det.BMI<="29.9"){ %>
            <a class="ui yellow button">Overweight</a>
        <%} else{ %>
            <a class="ui red button">Obesity</a>
        <%} %>
    </p>
<hr>
<a class="ui inverted purple button" href="/daily">Enter Daywise Details</a>

<table class="ui celled table" id="htmlTable" class="htmlTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Systole(mmHg)</th>
            <th>Diastole(mmHg)</th>
            <th>Pulse(/min)</th>
            <th>Oxygen Saturation(%)</th>
            <th>Sugar(mg/dl)</th>
            <th>Temperature(F)</th>
            <th>Sleep Hours</th>
        </tr>
    </thead>
    <tbody>
        <% det.daily.forEach(function(d){ %>
            <tr>
                <td><%= d.date.toDateString() %></td>
                <td><%= d.BP.Systole%></td>
                <td><%= d.BP.Diastole%></td>
                <td><%= d.BP.pulse%></td>
                <td><%= d.o2%></td>
                <td><%= d.glucose%></td>
                <td><%= d.temp%></td>
                <td><%= d.sleep%></td>
            </tr>
    <% }) %>
    </tbody>
</table>
<div id="container" style="width: 500px; height: 400px;"></div>
<div id="container1" style="width: 500px; height: 400px;"></div>
<div id="container2" style="width: 500px; height: 400px;"></div>
<div id="container3" style="width: 500px; height: 400px;"></div>
<div id="container4" style="width: 500px; height: 400px;"></div>
<script src="/asset2.js"></script>
<br>
<%- include("partials/footer") %>
