<h1>Show page</h1>
<p> 
    <%=det.owner.username%><br>
    <%=det.age%><br>
    <%=det.bloodtype%><br>
    <% if(det.diabetic == false){ %> 
    <p>Not Diabetic</p>
    <%}else{%>
        <p>diabetic</p>
    <%}%>
    <%= det.meddis%><br>
    <%= det.height%><br>
    <%= det.weight%><br>
    <%= det.BMI%><br>
</p>
<hr>
<a href="/daily">Proceed</a>


<% det.daily.forEach(function(d){ %>
    <p>
        <%= d.date.toDateString() %>
        <%= d.BP.Systole%>
        <%= d.BP.Diastole%>
        <%= d.BP.Pulse%>
        <%= d.o2%>
        <%= d.glucose%>
        <%= d.temp%>
        <%= d.sleep%>
    </p>
<% }) %>